<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-mapper.dtd">
<mapper namespace = "com.coronainfo.mapper.CoronaInfoMapper">
    <insert id ="insertCoronaInfo">
        INSERT INTO corona_info (accExamCnt, accExamCompCnt, careCnt, clearCnt, deathCnt, decideCnt, examCnt, resultNegCnt, stateTime)
        VALUES(#{accExamCnt}, #{accExamCompCnt}, #{careCnt}, #{clearCnt}, #{deathCnt}, #{decideCnt}, #{examCnt}, #{resultNegCnt}, #{stateTime});
    </insert>
    <select id ="selectCoronaInfoByDate" resultType = "com.coronainfo.vo.CoronaInfoVO">
        select * from corona_info where stateTime>=str_to_date(#{date}, "%Y-%m-%d") limit 1;
    </select>
    
    <insert id = "insertCoronaSido">
        INSERT INTO corona_sido (deathCnt, defCnt, gubun, incDec, isolClearCnt, createDt, isolIngCnt, localOccCnt, overFlowCnt)
        VALUES(#{deathCnt}, #{defCnt}, #{gubun}, #{incDec}, #{isolClearCnt}, #{createDt}, #{isolIngCnt}, #{localOccCnt}, #{overFlowCnt});
    </insert>
    <select id = "selectCoronaSidoByDate" resultType = "com.coronainfo.vo.CoronaSidoVO">
        select * ,date_format(createDt,"%Y-%m-%d") as dt from corona_sido where date_format(createDt,"%Y-%m-%d") = str_to_date(#{date}, "%Y-%m-%d") and gubun != '합계';
    </select>
    
    <insert id = "insertCoronaAgeGen">
        INSERT INTO corona_age_and_gen (confCase, confCaseRate, createDt, criticalRate, death, deathRate, gubun)
        VALUES(#{confCase}, #{confCaseRate}, #{createDt}, #{criticalRate}, #{death}, #{deathRate}, #{gubun});
    </insert>
    <select id = "selectCoronaAgeByDate" resultType = "com.coronainfo.vo.CoronaAgeAndGenVO">
        <!-- select * from corona_age_and_gen where date_format(createDt,"%Y-%m-%d") = str_to_date(#{date}, "%Y-%m-%d") and gubun != '남성' and gubun != '여성'; -->
        select *,date_format(createDt,"%Y-%m-%d") as dt ,case 
        when gubun ='0-9' then '0대' 
        when gubun ='10-19' then '10대' 
        when gubun ='20-29' then '20대' 
        when gubun ='30-39' then '30대' 
        when gubun ='40-49' then '40대' 
        when gubun ='50-59' then '50대' 
        when gubun ='60-69' then '60대' 
        when gubun ='70-79' then '70대' 
        when gubun ='80 이상' then '80대 이상' 
        end as ages
        from corona_age_and_gen 
        where date_format(createDt,"%Y-%m-%d") = str_to_date(#{date}, "%Y-%m-%d") 
        and gubun != '남성' and gubun != '여성' order by createDt desc;
    </select>
    <select id = "selectCoronaGenByDate" resultType = "com.coronainfo.vo.CoronaAgeAndGenVO">
        select * from corona_age_and_gen where (gubun = '남성' or gubun ='여성') and date_format(createDt,"%Y-%m-%d") = str_to_date(#{date}, "%Y-%m-%d");
    </select>
    <insert id = "insertCoronaVaccineInfo">
        INSERT INTO corona_vaccine (accFirstCnt, accSecondCnt, regDt, firstCnt, secondCnt, sido) VALUES(#{accFirstCnt}, #{accSecondCnt}, #{regDt}, #{firstCnt}, #{secondCnt}, #{sido});
    </insert>
    <select id = "selectCoronaVaccineInfo" resultType = "com.coronainfo.vo.CoronaVaccineInfoVO">
        select * from corona_vaccine where date_format(regDt,"%Y-%m-%d") = str_to_date(#{date},"%Y-%m-%d") and sido != '전국';
    </select>
</mapper>